.right {
  float: right;
  padding: 10px;
      width: 70%;
      margin-top: 40px;
      margin-left:20px;

      border-radius: 2rem;
}
#video{
float: right;

}

#c{
border: 1px solid #f00;


}

section{
width: 800px;
position: relative;
margin: auto;

}
